/*-- scss:defaults --*/

// Colors
$aged-golden: #aaa488;
$muted-brown: #908150;
$creamy-ivory: #f6f1eb;
$charcoal-black: #373634;
$dusky-rose: #9b5672;
$slate-grey: #737272;

// Base document colors
$navbar-bg: $aged-golden; // navbar
$navbar-fg: $muted-brown; // navbar foreground elements
$navbar-hl: $dusky-rose; // highlight color when hovering over navbar links
$body-bg: $creamy-ivory; // page background 
$body-color: $charcoal-black; // page text 
$footer-bg: $aged-golden; // footer 
$link-color: $dusky-rose; // hyperlinks 

// Inline code
$code-bg: $aged-golden; // inline code background color
$code-color: $dusky-rose; // inline code text color

// Code blocks
$code-block-bg: $aged-golden; // code block background color


